<?xml version="1.0" encoding="UTF-8"?>
<!-- Conexion a la bd-->
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <environments default="desarrollo">   
        <environment id="desarrollo">
            <!-- encargado de hacer la conexion-->
            <transactionManager type="JDBC"/>
            <!-- tipo de conexion, en este caso pool-->
            <dataSource type="POOLED" >
               
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                 <!-- datos de conexion-->
                <property name="url" value="jdbc:mysql://localhost:3306/packetWorld?serverTimezone=UTC"/>   
                <property name="username" value="packetWorldUser"/>    
                <property name="password" value="password"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>
    <mappers> 
        <mapper resource = "modelo/mybatis/mapper/AutentificarMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/SucursalMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/UnidadMapper.xml"/>
        <mapper resource = "modelo/mybatis/mapper/ColaboradorMapper.xml"/>
    </mappers>

</configuration>

