<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colonia">

    <select id="obtener-coordenadas-por-cp" parameterType="string" resultType="pojo.Colonia">
        SELECT * FROM colonia WHERE codigo_postal = #{codigoPostal}
    </select>

    <update id="actualizar-coordenadas" parameterType="pojo.Colonia">
        UPDATE colonia
        SET latitud = #{latitud}, longitud = #{longitud}
        WHERE codigo_postal = #{codigoPostal}
    </update>

</mapper>