<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="direccion">

    <select id="obtener-datos-por-cp" parameterType="string" resultType="dto.RSDatosCodigoPostal">
        SELECT DISTINCT
            p.id_pais AS idPais,
            p.nombre AS pais,
            e.id_estado AS idEstado,
            e.nombre AS estado,
            m.id_municipio AS idMunicipio,
            m.nombre AS municipio,
            c.codigo_postal AS codigoPostal
        FROM colonia c
        INNER JOIN municipio m ON c.codigo_municipio = m.codigo
        INNER JOIN estado e ON m.id_estado = e.id_estado
        INNER JOIN pais p ON e.id_pais = p.id_pais
        WHERE c.codigo_postal = #{codigoPostal};
    </select>

    <select id="obtener-colonias-por-cp" parameterType="string" resultType="dto.RSColonia">
        SELECT
            id_colonia AS idColonia,
            nombre AS colonia,
            codigo_postal AS codigoPostal
        FROM colonia
        WHERE codigo_postal = #{codigoPostal};
    </select>

    <select id="obtener-municipio" parameterType="int" resultType="pojo.Municipio">
        SELECT 
            id_municipio AS idMunicipio,
            nombre,
            id_estado AS idEstado,
            codigo
        FROM municipio
        WHERE id_municipio = #{idMunicipio};
    </select>
    
    <select id="obtener-codigo-municipio" parameterType="int" resultType="int">
        SELECT codigo
        FROM municipio
        WHERE id_municipio = #{idMunicipio};
    </select>
    
    
    <!-- Consultas para comprobar que existan tanto pais, estado, municipio y colonia -->
    <select id="validar-pais-existe" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM pais
        WHERE id_pais = #{idPais};
    </select>
    
    <select id="validar-estado-existe" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM estado
        WHERE id_estado = #{idEstado};
    </select>

    <select id="validar-municipio-existe" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM municipio
        WHERE id_municipio = #{idMunicipio};
    </select>

    <select id="validar-colonia-existe" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM colonia
        WHERE id_colonia = #{idColonia};
    </select>
    
    <!-- Consultas para comprobar que estado este en pais, municipio este en estado, y colonia este en municipio -->
    <select id="validar-estado-pais" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM estado
        WHERE id_estado = #{idEstado}
        AND id_pais = #{idPais};
    </select>

    <select id="validar-municipio-estado" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM municipio
        WHERE id_municipio = #{idMunicipio}
        AND id_estado = #{idEstado};
    </select>

    <select id="validar-colonia-municipio" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM colonia
        WHERE id_colonia = #{idColonia}
        AND codigo_municipio = #{codigoMunicipio};
    </select>

</mapper>

