<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="envio">

    <insert id="registrar" parameterType="pojo.Envio">
        INSERT INTO envio (
            numero_guia,
            id_destinatario,
            id_cliente,
            id_sucursal,
            id_conductor,
            id_estatus_actual,
            costo_total,
            id_creador
        ) VALUES (
            #{numeroGuia},
            #{idDestinatario},
            #{idCliente},
            #{idSucursal},
            #{idConductor},
            #{idEstatusActual},
            #{costoTotal},
            #{idCreadoPor}
        )
    </insert>

    <update id="editar" parameterType="pojo.Envio">
        UPDATE envio
        SET
            id_destinatario = #{idDestinatario},
            id_cliente = #{idCliente},
            id_sucursal = #{idSucursal},
            id_conductor = #{idConductor},
            id_estatus_actual = #{idEstatusActual}
        WHERE id_envio = #{idEnvio};
    </update>
    
    <select id="verificar-existe" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM envio
        WHERE id_envio = #{idEnvio};
    </select>
    
    <select id="consultar" parameterType="string" resultType="pojo.Envio">
        SELECT
            e.id_envio            AS idEnvio,
            e.numero_guia         AS numeroGuia,

            e.id_destinatario     AS idDestinatario,
            d.nombre              AS nombreDestinatario,
            d.apellido_paterno    AS apellidoPaternoDestinatario,

            e.id_cliente          AS idCliente,
            c.nombre              AS nombreCliente,
            c.apellido_paterno    AS apellidoPaternoCliente,

            e.id_sucursal         AS idSucursal,
            s.codigo              AS codigoSucursal,

            e.id_conductor        AS idConductor,
            cond.numero_personal  AS numeroPersonalConductor,

            e.id_estatus_actual   AS idEstatusActual,
            ee.nombre             AS estatusActual,

            e.costo_total         AS costoTotal,

            e.id_creador          AS idCreadoPor,
            crea.numero_personal  AS numeroPersonalColaborador
        FROM envio e
        JOIN destinatario d        ON e.id_destinatario   = d.id_destinatario
        JOIN cliente c             ON e.id_cliente        = c.id_cliente
        JOIN sucursal s            ON e.id_sucursal       = s.id_sucursal
        LEFT JOIN colaborador cond ON e.id_conductor      = cond.id_colaborador
        JOIN colaborador crea      ON e.id_creador        = crea.id_colaborador
        JOIN estatus_envio ee      ON e.id_estatus_actual = ee.id_estatus
        WHERE e.numero_guia = #{numeroGuia};
    </select>

    <select id="obtener-todos" resultType="pojo.Envio">
        SELECT
            e.id_envio            AS idEnvio,
            e.numero_guia         AS numeroGuia,

            e.id_destinatario     AS idDestinatario,
            d.nombre              AS nombreDestinatario,
            d.apellido_paterno    AS apellidoPaternoDestinatario,

            e.id_cliente          AS idCliente,
            c.nombre              AS nombreCliente,
            c.apellido_paterno    AS apellidoPaternoCliente,

            e.id_sucursal         AS idSucursal,
            s.codigo              AS codigoSucursal,

            e.id_conductor        AS idConductor,
            cond.numero_personal  AS numeroPersonalConductor,

            e.id_estatus_actual   AS idEstatusActual,
            ee.nombre             AS estatusActual,

            e.costo_total         AS costoTotal,

            e.id_creador          AS idCreadoPor,
            crea.numero_personal  AS numeroPersonalColaborador
        FROM envio e
        JOIN destinatario d        ON e.id_destinatario   = d.id_destinatario
        JOIN cliente c             ON e.id_cliente        = c.id_cliente
        JOIN sucursal s            ON e.id_sucursal       = s.id_sucursal
        LEFT JOIN colaborador cond ON e.id_conductor      = cond.id_colaborador
        JOIN colaborador crea      ON e.id_creador        = crea.id_colaborador
        JOIN estatus_envio ee      ON e.id_estatus_actual = ee.id_estatus;
    </select>

    <select id="obtener-envio-por-conductor" parameterType="int" resultType="pojo.Envio">
        SELECT
            e.id_envio            AS idEnvio,
            e.numero_guia         AS numeroGuia,

            e.id_destinatario     AS idDestinatario,
            d.nombre              AS nombreDestinatario,
            d.apellido_paterno    AS apellidoPaternoDestinatario,

            e.id_cliente          AS idCliente,
            c.nombre              AS nombreCliente,
            c.apellido_paterno    AS apellidoPaternoCliente,

            e.id_sucursal         AS idSucursal,
            s.codigo              AS codigoSucursal,

            e.id_conductor        AS idConductor,
            cond.numero_personal  AS numeroPersonalConductor,

            e.id_estatus_actual   AS idEstatusActual,
            ee.nombre             AS estatusActual,

            e.costo_total         AS costoTotal,

            e.id_creador          AS idCreadoPor,
            crea.numero_personal  AS numeroPersonalColaborador

        FROM envio e
        JOIN destinatario d        ON e.id_destinatario   = d.id_destinatario
        JOIN cliente c             ON e.id_cliente        = c.id_cliente
        JOIN sucursal s            ON e.id_sucursal       = s.id_sucursal
        LEFT JOIN colaborador cond ON e.id_conductor      = cond.id_colaborador
        JOIN colaborador crea      ON e.id_creador        = crea.id_colaborador
        JOIN estatus_envio ee      ON e.id_estatus_actual = ee.id_estatus

        WHERE e.id_conductor = #{idConductor}
        ORDER BY e.id_envio DESC;
    </select>
    
    <update id="actualizar-estatus" parameterType="map">
        UPDATE envio
        SET id_estatus_actual = #{estatus}
        WHERE numero_guia = #{guia};
    </update>
    
    <select id="obtener-cp-origen" parameterType="int" resultType="string">
        SELECT c.codigo_postal
        FROM envio e
        JOIN sucursal s ON e.id_sucursal = s.id_sucursal
        JOIN colonia c ON s.id_colonia = c.id_colonia
        WHERE e.id_envio = #{idEnvio};
    </select>
    
    <select id="obtener-cp-destino" parameterType="int" resultType="string">
        SELECT c.codigo_postal
        FROM envio e
        JOIN destinatario d ON e.id_destinatario = d.id_destinatario
        JOIN colonia c ON d.id_colonia = c.id_colonia
        WHERE e.id_envio = #{idEnvio};
    </select>

    <update id="actualizar-costo" parameterType="pojo.Envio">
        UPDATE envio
        SET costo_total = #{costoTotal}
        WHERE id_envio = #{idEnvio};
    </update>
    
    <select id="conductor-tiene-envio-activo" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM envio
        WHERE id_conductor = #{idConductor}
          AND id_estatus_actual IN (1,2,3,4);
    </select>

    <select id="conductor-tiene-envio-activo-excepto" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM envio
        WHERE id_conductor = #{idConductor}
          AND id_estatus_actual IN (1,2,3,4)
          AND id_envio != #{idEnvio}
    </select>

</mapper>
